@{
    @model CategoryBookViewModel
}
@{
    ViewData["Title"] = "صفحه اصلی";
}



<section class="hero">
    <h1>هر کتابی که می‌خواهی، اینجا هست</h1>
    <p>با پیش از صدها عنوان کتاب در دسته‌بندی‌های متفاوت، سفر شگفت‌انگیز خود را آغاز کنید</p>
    <button>مشاهده پرفروش‌ترین ها</button>
</section>

<div class="container">

    <h2 class="section-title">دسته‌بندی‌ها</h2>
    
    <div class="categories">
        @foreach (var moedl in Model.Category)
        {
            <div class="category-card">
                <div class="category-icon">📚</div>
                <div class="category-title">@moedl.Title</div>
                <div class="category-subtitle">@moedl.Description</div>
            </div>
        }
    </div>


    <h2 class="section-title">جدیدترین کتاب‌ها</h2>
    <div class="books">
        @foreach (var book in Model.Books)
        {
            <div class="book-card">
                <div class="book-image">
                    <img src=@book.ImgUrl alt="404" width="180" height="280">
                </div>
                <div class="book-info">
                    <div class="book-title">@book.Title</div>
                    <div class="book-author">@book.Author</div>
                    <div class="book-author">@book.NumberOfPages</div>
                    <div class="book-price">@book.Price ت</div>
                </div>
            </div>
        }

    </div>
</div>